{% extends "src/index.njk" %}

{% block title %}D.E. Shaw Summer 2021 Internship | Pragnya's portfolio{% endblock %}

{% block content %}


<div class="md:pt-16 flex flex-col md:flex-row">
  <div class="w-full md:w-2/5 pt-12 md:pt-0 my-auto pb-16 md:pb-0">
    <div class="pb-6">
      <p class="text-heading-3">How might we enable traders to access & monitor data on-the-go? </p>
    </div>
    <div class="mt-6 pt-6 border-t border-grey-normal border-solid">
      <p class="text-heading-2"> D.E. Shaw & Co.<br/>Summer 2021 Internship</p>
    </div>
    <p class="text-body">Duration: 8 weeks</p>
    <div class="pt-12">
      <a href="#" class="button">Read blog</a>
    </div>
  </div>
  <div class="w-full md:w-3/5 md:pl-12">
    <img src="/images/cover_deshaw.png"/>
  </div>
</div>

{% endblock %}
