{% extends "src/index.njk" %}

{% block title %}D.E. Shaw Summer 2021 Internship | Pragnya's portfolio{% endblock %}

{% block content %}

{% import "./template.njk" as template %}
{{ template.p("blablab la","/images/cover_propet.png","none") }}


<div class="md:pt-16 flex flex-col md:flex-row">
  <div class="w-full md:w-2/5 pt-12 md:pt-0 my-auto pb-16 md:pb-0">
    <div class="pb-6">
      <p class="text-heading-3 -mt-6">How might we enable traders to access & monitor data on-the-go? </p>
    </div>
    <div class="mt-6 pt-6 border-t border-grey-normal border-solid">
      <p class="text-heading-2"> D.E. Shaw & Co.<br/>Summer 2021 Internship</p>
    </div>
    <p class="text-body">Duration: 8 weeks</p>
    <div class="pt-12">
      <a href="https://medium.com/@pragnya.ramjee/summer-2021-d-e-shaw-india-interaction-design-internship-9e27cf631d3e" class="button">Read blog</a>
    </div>
  </div>
  <div class="w-full md:w-3/5 md:pl-12">
    <img src="/images/cover_deshaw.png"/>
  </div>
</div>

<div class="section">
  <p class="text-heading-2">Background: Design Brief </p>
  <p class="text-body">The firm wanted to better allow employees to access and monitor data on-the-go, so I was tasked to</p>
  <p class="text-heading-2 callout"> Design a handheld device version of an <br/>in-house desktop-based data visualisation and analysis tool.</p>
  <p class="text-body">I was told to focus on a blue-sky design for iPad. Beyond that, I was grateful (and terrified!) to be given complete ownership of my project - and the liberty to mould my design process as I chose.</p>
</div>



<div class="section">
  <p class="text-heading-2">Problem-Solving: Flexible & Iterative User-Centred Design Process</p>
  <div class="flex flex-col md:flex-row md:space-x-24 items-start w-full">
    <div class="md:w-1/3">
      <a href="#" class="button block">Study | 2 weeks</a>
      <p class="text-heading-3">Requirement gathering</p>
      <ul class="list-disc">
        <li> <p class="text-body -mt-6"> BI terminologies & desktop use-cases</p> </li>
        <li> <p class="text-body -mt-6"> Secondary research: leveraging touchscreen for data vis</p> </li>
      </ul>
      <p class="text-heading-3">Market study</p>
      <ul class="list-disc">
        <li> <p class="text-body -mt-6"> Comparative analysis: 3 BI & 4 mobile data vis tools</p> </li>
      </ul>
      <p class="text-heading-3">User study</p>
      <ul class="list-disc">
        <li> <p class="text-body -mt-6">14 stakeholders | 6 Business Units | 6 semi-structured interviews</p> </li>
        <li> <p class="text-body -mt-6">Affinity mapping (grounded theory)</p> </li>
        <li> <p class="text-body -mt-6">Needs analysis</p> </li>
        <li> <p class="text-body -mt-6">Proto-personas</p> </li>
      </ul>
    </div>
    <div class="md:w-1/3 pt-24 md:pt-0">
      <a href="#" class="button block">Realisation | 2.5 weeks</a>
      <p class="text-heading-3">Ideation</p>
      <ul class="list-disc">
        <li> <p class="text-body -mt-6"> User scenarios</p> </li>
        <li> <p class="text-body -mt-6"> 6 Thinking Hats</p> </li>
        <li> <p class="text-body -mt-6"> Rapid branstorming (collective)</p> </li>
        <li> <p class="text-body -mt-6"> Mind-mapping</p> </li>
        <li> <p class="text-body -mt-6"> Feature prioritisation (Impact vs. Effort)</p> </li>
      </ul>
      <p class="text-heading-3">Concept evaluation</p>
      <ul class="list-disc">
        <li> <p class="text-body -mt-6"> 3 iterations - paper prototypes</p> </li>
        <li> <p class="text-body -mt-6"> IDing assumptions, benefits, scope for improvement</p> </li>
      </ul>
      <p class="text-heading-3">Definition</p>
      <ul class="list-disc">
        <li> <p class="text-body -mt-6">IDing target use-cases</p> </li>
      </ul>
    </div>
    <div class="md:w-1/3 pt-24 md:pt-0">
      <a href="#" class="button block">Design | 2.5 weeks</a>
      <p class="text-heading-3">Prototyping</p>
      <ul class="list-disc">
        <li> <p class="text-body -mt-6"> 2 iterations - wire-framing</p> </li>
        <li> <p class="text-body -mt-6"> 3 iterations - high-fi mockups</p> </li>
      </ul>
      <p class="text-heading-3">User feedback</p>
      <ul class="list-disc">
        <li> <p class="text-body -mt-6">9 stakeholders | 4 Business Units | 4 semi-structured interviews</p> </li>
        <li> <p class="text-body -mt-6"> IDing & prioritising future scope</p> </li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <p class="text-heading-2">Starting Out: Exploding with Questions</p>
  <div class="subsection w-full">
    <img src="/images/deshaw_wordcloud.webp"/>
  </div>
</div>

<div class="section">
  <p class="text-heading-2">Studying the Current Landscape</p>
  <p class="text-body">I wanted to better understand the <strong>product’s evolution and vision</strong>, and started by reviewing prior work done on desktop. Conveniently, the lead designer on this turned out to be my mentor, whom I happily pestered relentlessly. Conducting an <strong>audit of analogous tools helped me identify common features and interactions to gain inspiration and benchmark the product.</strong></p>
  <div class="subsection w-full">
    <img src="/images/deshaw_existingtools.png"/>
  </div>
  <div class="subsection w-full md:w-1/2">
    <img src="/images/deshaw_comparativeanalysis.webp"/>
  </div>
</div>

<div class="section">
  <p class="text-heading-2">Speaking to Stakeholders</p>
  <p class="text-heading-3"> 14 Stakeholders | 6 Business Units | 6 Semi-Structured Interviews </p>
  <p class="text-body"> I conducted virtual interviews to better understand <strong>Firm-specific requirements.</strong> I met with key stakeholders: including people from UX, the dev team, and multiple business units who’d be using the product. The user groups I was targetting were VERY busy; <strong>exhaustive interviews weren’t possible.</strong> To optimise my use of their time, I realised focusing on goal-oriented, open-ended ‘why’ questions yielded richer answers than did feature-based ‘what’ questions. </p>
  <p class="text-body"> After these quick user studies, I had to analyse the data to fill in the gaps. Here, putting myself in the user’s shoes and <strong>laying out a scenario</strong> in the form of a (wholly fictional and assumptive) story helped me open the project to a breadth of possibilities. </p>
  <p class="text-body"> Post affinitising insights, I realised <strong>use-cases fell into 3 main categories.</strong> </p>
  <div class="subsection w-full">
    <img src="/images/deshaw_usecases.webp"/>
  </div>
</div>

<div class="section">
  <p class="text-heading-2">Whom will this benefit?</p>
  <p class="text-heading-3">Defining High-Level Stakeholders</p>
  <p class="text-body"> <strong>To streamline the design process and create a consistent interface for discussion,</strong> I generated proto-personas. This was challenging and assumptive. So I kept reverting to and refining this data visualisation, and made sure to document my decisions.</p>
  <div class="subsection w-full md:w-4/5">
    <img src="/images/deshaw_personas.webp"/>
  </div>
</div>

<div class="section">
  <p class="text-heading-2">Generating ideas</p>
  <p class="text-heading-3">Six thinking hats | Mind-mapping | Collective brainstorming (rapid ideation)</p>
  <p class="text-body">I was excited to try out the 6-Thinking Hats method, which allows for parallel styles of thinking: logic, emotion, caution, optimism, creativity, and control, ensuring a holistic coverage of perspectives. After several rapid ideation sessions (including one with other members of the team), I created a mind-map.</p>
    <div class="mt-12 mb-6">
    <a href="https://drive.google.com/file/d/1g0zIT4ecbQZrHVdp34NCVr-FfQbpjY_b/view" class="button">6 Thinking hats</a>
  </div>
  <p class="text-body">I started visualizing my ideas to better validate them, through several <strong>quick-and-dirty paper prototypes.</strong></p>
  <div class="pt-6 w-full">
    <img src="/images/deshaw_lowfi.webp"/>
  </div>
  <p class="text-body pt-6">After exploring the wild breadth of possible solutions, I promptly got thoroughly confused and overwhelmed about the project scope. So <strong>I presented these concepts to the team to gather feedback, and determine next steps.</strong>​ At the time, I was also impatient to quickly narrow down the list of possibilities, so I could stay on schedule and iterate through a few rounds of prototypes. In retrospect, I think that as an intern, my lack of experience was a concern (although a known devil). One key thing the team was likely looking for was the attitude and enthusiasm — and fresh ideas — brought to the table. Also, an unexpected realisation was that a wide base of divergent content can be crucial for me to narrow down effectively — as there’s no lingering ‘itch’ of what-if.</p>
</div>


<div class="section">
  <p class="text-heading-2">Prioritising Scope (Ah, Sweet Relief)</p>
  <p class="text-body">After discussion, we defined the project based on <strong>product priorities, needs, resources, and internship timeline.</strong></p>
  <div class="subsection w-full md:w-4/5">
    <img src="/images/deshaw_scope.webp"/>
  </div>
</div>


<div class="section">
  <p class="text-heading-2">Assumptions</p>
  <div class="subsection w-full md:w-4/5">
    <img src="/images/deshaw_assumptions.webp"/>
  </div>
</div>

<div class="section">
  <p class="text-heading-2">Final design</p>
  <p class="text-body">After 5 rounds of iteration and feedback from the team, I created <strong>50+ screens</strong> as deliverable. I focused on the scenario of a trader using a COVID-dataset on iPad at the workstation to guide trading decisions on their primary screen.</p>
  <div class="mt-12">
    <a href="https://drive.google.com/file/d/1aA5YrF3x2NJJd-vmzVWTN2yWHvyQufTM/view" class="button">Comprehensive Designs</a>
  </div>
<div>

  <div class="section">
      <p class="text-heading-3">Key Feature</p>
    <p class="text-heading-2">Fluid Interactions</p>
    <div class="subsection flex flex-col md:flex-row">
      <div class="w-full md:w-4/5 md:-m-6">
        <img src="/images/deshaw_homepage.webp"/>
      </div>
      <div class="w-full md:w-1/5 md:pl-6 pt-6 md:pt-0 my-auto">
        <p class="text-heading-3 -mt-6">Homepage</p>
        <p class="text-body">Dashboards <strong>pinned</strong> for easier access. <br/><strong>Overview of changes</strong> in orange tags.<br/> Dashboards <strong>suggested</strong> based on frequency + recency of access + updation.</p>
        <p class="text-body"> <strong>User feedback:</strong><br/> <em>"Number of changes per dashboard - that’s a very important feature."</em></p>
      </div>
    </div>
  <div>


<div class="subsection flex flex-col md:flex-row">
  <div class="w-full md:w-4/5 md:-m-6">
    <img src="/images/deshaw_quicknav.webp"/>
  </div>
  <div class="w-full md:w-1/5 md:pl-6 pt-6 md:pt-0 my-auto">
    <p class="text-body"><strong>Quick-navigation bar</strong> while scrolling through dataset.</p>
    <p class="text-body"> <strong>User feedback:</strong><br/> <em>"Really cool idea!" <br/>"Good idea. I really like it."</em></p>
  </div>
</div>



<div class="subsection flex flex-col md:flex-row">
  <div class="w-full md:w-1/5 md:pr-6 pt-6 md:pt-0 my-auto z-10">
    <p class="text-body">Widgets can be freely repositioned, for prioritisation and comparison.</p>
    <p class="text-body"> <strong>User feedback:</strong><br/> <em>"I love this!"<br/>"This would be very useful."</em></p>
  </div>
  <div class="w-full md:-m-6">
    <img src="/images/deshaw_widgets.webp"/>
  </div>
</div>


<div class="subsection flex flex-col md:flex-row">
  <div class="w-full md:w-1/5 md:pr-6 pt-6 md:pt-0 my-auto z-10">
    <p class="text-body">Tap for point-specific data; key on widget updates.</p>
    <p class="text-body"> <strong>User feedback:</strong><br/> <em>"Very clean. The focus is entirely on the data."</em></p>
  </div>
  <div class="w-full md:-m-6">
    <img src="/images/deshaw_tap.webp"/>
  </div>
</div>



<div class="subsection flex flex-col md:flex-row">
  <div class="w-full md:w-4/5 md:-m-6">
    <img src="/images/deshaw_taptime.webp"/>
  </div>
  <div class="w-full md:w-1/5 md:pl-6 pt-6 md:pt-0 my-auto">
    <p class="text-body">Similar tap interaction pattern for time-series.</p>
  </div>
</div>

<div class="subsection flex flex-col md:flex-row-reverse">
  <div class="w-full md:w-3/5 md:-m-6">
    <img src="/images/deshaw_longpress.webp"/>
  </div>
  <div class="w-full md:w-2/5 md:pr-6 pt-6 md:pt-0 my-auto z-10">
    <p class="text-body"><strong>Long-press</strong> on visualisation for chart-specific quick-actions.<br/> <strong>Scaleable</strong> interaction paradigm.</p>
  </div>
</div>

<div class="subsection flex flex-col md:flex-row">
  <div class="w-full md:w-3/5 md:-m-6">
    <img src="/images/deshaw_quickaccess.webp"/>
  </div>
  <div class="w-full md:w-2/5 md:pl-12 pt-6 md:pt-0 my-auto z-10">
    <p class="text-body">One smooth movement, leveraging <strong>muscle memory.</strong></p>
    <p class="text-body"> <strong>User feedback:</strong><br/> <em>"I like this interaction -  very futuristic!"</em></p>
  </div>
</div>


<div class="subsection flex flex-col md:flex-row-reverse">
  <div class="w-full md:w-3/5 md:-m-6">
    <img src="/images/deshaw_drill.webp"/>
  </div>
  <div class="w-full md:w-2/5 md:pr-6 pt-6 md:pt-0 my-auto z-10">
    <p class="text-body"> In this case, the 'Drill' option was selected. <strong>Drill down</strong> is complete, showing granular data.</p>
  </div>
</div>

<div class="subsection flex flex-col md:flex-row">
  <div class="w-full md:w-4/5 md:-m-6">
    <img src="/images/deshaw_doubletap.webp"/>
  </div>
  <div class="w-full md:w-1/5 md:pl-6 pt-6 md:pt-0 my-auto">
    <p class="text-body"><strong>Double-tap</strong> on the visualisation to apply ad-hoc cross-filters globally, bringing specific dimensions into focus. Widget's key dynamically updates (re-orders.)</p>
    <div class="subsection">
      <p class="text-body"><strong>Ergonomic control panel </strong>at bottom of handheld device.</p>
    </div>
  </div>
</div>

<div class="subsection flex flex-col md:flex-row">
  <div class="w-full md:w-4/5 md:-m-6">
    <img src="/images/deshaw_filter.webp"/>
  </div>
  <div class="w-full md:w-1/5 md:pl-6 pt-6 md:pt-0 my-auto">
    <p class="text-body">Widgets with permanent <strong>filters</strong> applied have a blue filter icon. Tap the icon; <strong>it animates to 'upturn'</strong> and reveal the filters.</p>
  </div>
</div>

<div class="subsection">
  <p class="text-body"> Filters can be <strong>dragged and dropped</strong> to duplicate them across widgets.</p>
  <div class="pt-6 flex flex-col md:flex-row md:space-x-6">
    <div class="w-full md:w-1/2 md:-ml-6">
      <img src="/images/deshaw_filterdrag.webp"/>
    </div>
    <div class="w-full md:w-1/2 md:-mr-6">
      <img src="/images/deshaw_filterdrop.webp"/>
    </div>
  </div>
</div>

<div class="section">
  <p class="text-heading-3">Key Feature</p>
  <p class="text-heading-2">Flexible Input</p>
  <div class="subsection flex flex-col md:flex-row">
    <div class="w-full md:w-4/5 md:-m-6">
      <img src="/images/deshaw_annotate.webp"/>
    </div>
    <div class="w-full md:w-1/5 md:pl-6 pt-6 md:pt-0 my-auto">
      <p class="text-body">All text input fields support <strong>Apple Pencil and Speech-to-Text.</strong></p>
      <p class="text-body"> <strong>User feedback:</strong><br/> <em>"That's great - annotation is an important thing the iPad offers."</em></p>
    </div>
  </div>
<div>


<div class="subsection flex flex-col md:flex-row">
  <div class="w-full md:w-4/5 md:-m-6">
    <img src="/images/deshaw_bottompanel.webp"/>
  </div>
  <div class="w-full md:w-1/5 md:pl-6 pt-6 md:pt-0 my-auto">
    <p class="text-body">I played around with several layouts for the <strong>Config and Filter panels</strong> before deciding to place them at the bottom, for ergonomic use.</p>
    <p class="text-body">The widget is shown above the panel and updates live as it is edited.</p>
  </div>
</div>

<div class="subsection">
  <p class="text-body">The panels can also be swiped up and down to expand and collapse.</p>
  <div class="pt-6 flex flex-col md:flex-row md:space-x-6">
    <div class="w-full md:w-1/2 md:-ml-6">
      <img src="/images/deshaw_panelup.webp"/>
    </div>
    <div class="w-full md:w-1/2 md:-mr-6">
      <img src="/images/deshaw_paneldown.webp"/>
    </div>
  </div>
</div>

<div class="section">
  <p class="text-heading-3">Key Feature</p>
  <p class="text-heading-2">Alert Ecosystem and Integrations w/ Slack, Email, iPhone & Apple Watch</p>
  <p class="text-body"><strong>Data Alerts</strong> are data-sensitive notifications for specific measures. <br/>In this case, a trader wants to unplug over the weekend, but needs to keep track of COVID-related data as her investments are dependent.</p>
  <div class="pt-6 flex flex-col md:flex-row md:space-x-6">
    <div class="w-full md:w-1/2">
      <div class="flex flex-col w-full">
        <img src="/images/deshaw_dataalerts1.webp"/>
        <p class="text-body -m-6 text-center">Alert when the Sum of New Cases in Africa <br/>increases by more than 20%.</p>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <div class="flex flex-col">
        <img src="/images/deshaw_dataalerts2.webp"/>
        <p class="text-body -m-6 text-center">Alerts can be accessed, edited and deleted from this page.</p>
      </div>
    </div>
  </div>
<div>

<div class="subsection">
  <div class="pt-6 flex flex-col md:flex-row md:space-x-6">
    <div class="w-full md:w-1/5">
      <p class="text-body"> <strong>User feedback:</strong><br/> <em>"Great to see the team's already thinking about notifications!"<br/>"We definitely will need notifications in future. We’re planning to pipe dynamic data into this."</em></p>
    </div>
    <div class="w-full md:w-1/5 md:-ml-6">
      <img src="/images/deshaw_dataalertwatch.webp"/>
    </div>
    <div class="w-full md:w-3/5 md:-mr-6">
      <img src="/images/deshaw_dataalertnotepad.webp"/>
    </div>
  </div>
</div>

<div class="subsection">
  <p class="text-body"><strong>Data Snapshots</strong> are time-sensitive notifications for measures across dashboards. <br/>In this case, a Human Capital specialist accesses data that updates every morning, and wants these metrics to integrate into the team's routine and strategies.</p>
  <div class="subsection flex flex-col md:flex-row">
    <div class="w-full md:w-3/5 md:-m-6">
      <img src="/images/deshaw_datasnapshots.webp"/>
    </div>
    <div class="w-full md:w-2/5 md:pl-12 pt-6 md:pt-0 my-auto z-10">
      <p class="text-body">Here, a snapshot of <strong>key metrics will be delivered to the team every morning on Slack.</strong> The metrics are shown w.r.t. a predefined baseline. Individuals can turn off these for themselves.</p>
    </div>
  </div>

  <div class="subsection flex flex-col md:flex-row-reverse">
    <div class="w-full md:w-3/5 md:-m-6">
      <img src="/images/deshaw_slackbot.webp"/>
    </div>
    <div class="w-full md:w-2/5 md:pr-6 pt-6 md:pt-0 my-auto z-10">
      <p class="text-body"> <strong>User feedback:</strong><br/> <em>"Slackbot is a good idea, we’ve been wanting to do this for a while!”</em></p>
    </div>
  </div>


<div class="section">
  <p class="text-heading-3">Key Feature</p>
  <p class="text-heading-2">Scalability</p>
  <p class="text-body">I had some extra time at the end, and made a few representative screens for mobile. All interaction patterns were created to support addition of new features, as the tool develops.</p>
  <div class="subsection w-full">
    <img src="/images/deshaw_mobile.webp"/>
  </div>
<div>

<div class="section">
  <p class="text-heading-2">Measuring Impact: Qualitative User Testing & Feedback</p>
  <p class="text-heading-3">9 Stakeholders | 4 Business Units</p>
  <p class="text-body">The presentation-and-discussion format worked well because the users were familiar with the desktop product’s context. Their response was positive and enthusiastic, which gave me that precious sense of closure :)</p>
  <div class="subsection flex flex-col md:flex-row">
    <div class="w-full  md:w-2/3">
      <img src="/images/deshaw_feedback.webp"/>
    </div>
    <div class="pl-6 -mt-6 w-full md:w-1/3">
      <p class="text-heading-3"> Questions and Concerns</p>
      <ul class="list-disc">
        <li> <p class="text-body -mt-6"> Radio buttons on iPad</p> </li>
        <li> <p class="text-body -mt-6"> Navigation bar blocking data</p> </li>
        <li> <p class="text-body -mt-6"> Switching b/w Apple Pencil & finger</p> </li>
        <li> <p class="text-body -mt-6"> Syncing to desktop</p> </li>
      </ul>
    </div>
  </div>
<div>


<div class="section">
  <p class="text-heading-2">Future Scope</p>
  <p class="text-body">​The project also acted as a jump-off point for ideation. Users were eager to suggest more granular and nuanced features they’d like to see in future iterations.</p>
  <div class="subsection w-full">
    <img src="/images/deshaw_futurescope.webp"/>
  </div>
<div>

<div class="section">
  <p class="text-heading-2 callout -mb-12"> "I had the pleasure of mentoring Pragnya on her project while she was interning at D. E. Shaw. The entire experience was very positive - she took initiatives to push the project throughout, and I could count on her to remain accountable to the deadlines she'd set for herself. Pragnya excelled in communicating with stakeholders and was quick to act on feedback from the team. It was a pleasure working with her and I got to learn a lot from her as well!"</p>
  <p class="text-body callout">— Prachi Tank, Interaction Designer, D.E. Shaw</p>
</div>

<div class="section">
  <p class="text-heading-2">Reflection</p>
  <p class="text-body">As a naive <strong>fresher with zero experience interning remotely in the midst of a global pandemic</strong>, it was reassuring to meet my mentors daily during our one-on-one catchups. I’d also present my work to the UX team every week. This helped course-correct while taking advantage of the enormous freedom to explore tangents.  </p>
  <p class="text-body">I had <strong>no experience of Business Intelligence software or financial use-cases.</strong> Luckily, my mentors were ever-patient with my unending stream of basic doubts. A huge (slow) learning for me was how communication in a corporate context can be optimised — by sending agendas before daily catch-ups, prioritising the discussion flow, being alert to nuanced/ layered feedback, and summarising my understanding at the end. I also had the important personal realisation that I prefer mornings for heads-down work time, and later in the day for meetings. My mentors were accommodative, and I scheduled our catchups accordingly. </p>
  <p class="text-body"> Ultimately, though, I did find it <strong>empowering to take control of my project and defend my decisions.</strong> I learnt that ‘I liked this…’ or ‘I felt like…’ usually wouldn’t cut it as an argument. Eventually, scheduling my own meetings and explaining my work to stakeholders gave me a certain sense of autonomy. I slowly felt less need for an explicit ‘go-ahead’ from my mentors, and began making choices based on documented reasoning and assumptions. </p>
  <p class="text-body">
    Lastly: I’m <strong>not someone who thrives under pressure or uncertainty</strong> — rather, possibly, the <em>Tenshun Norgay</em> of mountain-out-of-molehill climbing. What I usually find effective for circumventing this is keeping <strong>my work processes highly streamlined and organised.</strong> The eight-week timeline for this exploratory project was tight, with little buffer and a seemingly shifting goalpost. <strong>Setting expectations upfront, defining a roadmap, and constantly keeping my mentors and manager in the loop</strong> helped.
  </p>
  <p class="text-body">
    It was challenging for me to completely ‘unplug’. Towards the end, as I struggled through long workdays, iPads and data visualisation started featuring in my dreams! I am now more confident (not yet comfortable, though) in the face of ambiguity and an evolving timeline. Also, I have a <strong>better awareness of how much I can push myself,</strong> which has possibly been the most valuable takeaway.
  </p>
  <p class="text-body">
    Overall, interning with D.E. Shaw India was like having a growth spurt. There’s SO much more I can say about this, please feel free to reach out :)
  </p>
</div>

<div class="subsection flex flex-col md:flex-row justify-between">
  <a href="#" class="button">Back home</a>
  <a href="#" class="button">Next: Smartphones & Senior Citizens</a>
</div>
{% endblock %}
