{% extends "src/index.njk" %}

{% block title %}D.E. Shaw Summer 2021 Internship | Pragnya's portfolio{% endblock %}

{% block content %}
<div class="pt-16 md:pt-16 flex flex-col md:flex-row">
  <div class="w-full md:w-2/5 md:pl-12 pt-12 md:pt-0 my-auto">
    <div class="pt-6"
      <p class="text-heading-3"> How might we enable traders to access and monitor data on-the-go? </p>
    </div>
    <p class="text-heading-2"> D.E. Shaw & Co.<br/>Summer 2021 Internship </p>
    <div class="pt-12">
      <a href="#" class="button">Read blog</a>
    </div>
    <div class="w-full md:w-3/5">
      <img src="/images/cover_deshaw.png"/>
    </div>
  </div>
</div>
{% endblock %}
