@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Apercu Italic";
  font-weight: normal;
  font-style: italic, oblique;
  src: url(./fonts/apercu_italic.otf);
}

@font-face {
  font-family: "Apercu Bold";
  font-weight: bold;
  font-style: normal;
  src: url(./fonts/apercu_bold.otf);
}

@font-face {
  font-family: "Apercu Light";
  font-weight: light;
  font-style: normal;
  src: url(./fonts/apercu_light.otf);
}

@font-face {
  font-family: "Apercu ExtraLight";
  font-weight: 100;
  font-style: normal;
  src: url(./fonts/apercu_extralight.ttf);
}

@font-face {
  font-family: "Apercu Regular";
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/apercu_regular.otf);
}

.text-heading-1{
  @apply text-7xl font-medium tracking-wide leading-relaxed text-black;
}

.text-heading-2{
  @apply text-3xl font-normal tracking-wide leading-relaxed text-black;
}

.text-heading-3{
  @apply text-base tracking-[.25em] leading-relaxed uppercase text-grey-dark font-[50];
}

.text-body{
  @apply text-base font-normal tracking-wide leading-relaxed text-black;
}

.text-callout{
@apply text-3xl font-bold tracking-wide leading-relaxed text-black;
}

.text-nav {
  @apply uppercase text-sm font-normal tracking-widest block py-2 text-grey-dark md:hover:text-blue md:p-0 md:hover:font-normal hover:cursor-pointer;
}


.text-button{
  @apply text-xs font-extralight tracking-[.25em] leading-relaxed uppercase text-blue;
}

.button{
  @apply bg-transparent border border-blue text-blue hover:bg-blue hover:text-white text-center py-4 px-4 text-button;
}

.dropdown-content {
    @apply min-w-40;
  }

.dropdown:hover .dropdown-content {
    @apply block;
  }

/* Mobile Menu (good lord!) */

  body {
    @apply w-screen	h-screen;
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;
  }

  @keyframes bugfix {
    from {
      @apply p-0;
    }
    to {
      @apply p-0;
    }
  }
  @-webkit-keyframes bugfix {
    from {
      @apply p-0;
    }
    to {
      @apply p-0;
    }
  }

  #overlay-button span {
    @apply h-1 w-9 rounded-sm bg-black relative block;
    transition: all 0.2s ease-in-out;
  }

  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }

  #overlay-button span:before, #overlay-button span:after {
    @apply h-1 w-9 rounded-sm bg-black absolute;
    content: "";
    transition: all 0.2s ease-in-out;
  }

  input[type=checkbox] {
    @apply hidden;
  }
  input[type=checkbox]:checked ~ #overlay {
    @apply visible;
  }
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    @apply bg-transparent;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(10px, 15px);
    opacity: 1;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(-2px, -4px);
  }

  #overlay-button {
    @apply absolute;
  }

  input[type=checkbox]:checked ~ #overlay-button {
    @apply fixed;
  }

  #overlay {
    @apply invisible z-10 bg-white h-screen w-screen;
  }
  #overlay.active {
    @apply visible;
  }
  #overlay ul {
    @apply flex justify-center content-center flex-col text-center w-screen h-screen p-0 list-none;
  }
  #overlay ul li {
    @apply p-4;
  }
  #overlay ul li a {
    @apply text-grey-dark decoration-0 text-sm;
  }
  #overlay ul li a:hover {
    @apply text-blue;
  }

/* Note to Pragnya: We are using Tailwind's spacers 2, 6, 12, 16, 24, 36 rather than custom spacers */
