@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Apercu Italic";
  font-weight: normal;
  font-style: italic, oblique;
  src: url(./fonts/apercu_italic.otf)
}

@font-face {
  font-family: "Apercu Bold";
  font-weight: bold;
  font-style: normal;
  src: url(./fonts/apercu_bold.otf)
}

@font-face {
  font-family: "Apercu Light";
  font-weight: light;
  font-style: normal;
  src: url(./fonts/apercu_light.otf)
}

@font-face {
  font-family: "Apercu ExtraLight";
  font-weight: 100;
  font-style: normal;
  src: url(./fonts/apercu_extralight.ttf);
}

@font-face {
  font-family: "Apercu Regular";
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/apercu_regular.otf);
}

.text-heading-1{
  @apply text-7xl font-medium tracking-wide leading-relaxed text-black;
}

.text-heading-2{
  @apply text-3xl font-normal tracking-wide leading-relaxed text-black;
}

.text-heading-3{
  @apply text-base tracking-[.25em] leading-relaxed uppercase text-grey-dark font-[50];
}

.text-body{
  @apply text-base font-normal tracking-wide leading-relaxed text-black;
}

.text-callout{
@apply text-3xl font-bold tracking-wide leading-relaxed text-black;
}

.text-nav {
  @apply uppercase text-sm font-normal tracking-widest block py-2 pr-4 pl-3 text-grey-dark md:hover:text-blue md:p-0 md:hover:font-normal;
}

.text-button{
  @apply text-xs font-extralight tracking-[.25em] leading-relaxed uppercase text-blue;
}

.button{
  @apply bg-transparent border border-blue text-blue hover:bg-blue hover:text-white text-center py-4 px-4 text-button;
}


.spacer-t-lg{
  @apply pt-24;
}
